:root {
  --border-size: 0.125rem;
  --duration: 275ms;
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  margin: 0 auto;
  place-items: center;
  padding: calc(var(--space) * 2);
  max-width: 950px;
}

.game #table {
  margin: 10px auto;
}

.game .multi-button {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
}

.game .multi-button button {
  flex-grow: 1;
  cursor: pointer;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration);
}

.game .multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.game .multi-button button:hover {
  flex-grow: 2;
  color: var(--color-primary);
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.set-example-row {
  display: flex;
}

.set-example-column {
  flex: 33.33%;
  padding: 3px;
}

.game #lives {
  display: flex;
}

.game #lives img {
  padding: 5px;
}

.set-example-column img {
  border: 2px solid gray;
  border-radius: 15px;
}

.card {
  border: 2px solid gray;
  border-radius: 15px;
}

.stats .stat-table {
  text-align: right;
}

#lives{
  width: 40px;
  height: 40px;
}
