<%= partial "navbar_nice" %>
<div class='d-flex'>
  <div class='card p-2' style='width: 50%'>
    <img class='img-fluid mx-auto' src='images/bigbrain.svg' width='50%'>
    <div class='card-body'>
      <h5>Very Smart</h5>
      <p class='card-text'>
        <ul class="list-group">
          <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat possimus eius veniam ab ullam necessitatibus esse, ea, magni dicta numquam quae harum accusantium eum quia atque laboriosam provident et repudiandae!</li>
          <li class="list-group-item">Itaque ad excepturi, reprehenderit enim maiores optio quam quaerat quod eaque dolor, voluptatibus, modi iusto iste ratione reiciendis a dolorem officiis est. Ipsa et sit earum saepe adipisci, animi at?</li>
          <li class="list-group-item">Alias totam reiciendis quas nam laborum eos sequi, id laboriosam nulla at, odit animi voluptatum! Totam qui a error dolore autem, ad laboriosam sequi minus neque harum assumenda, ea ipsam!</li>
          <li class="list-group-item">Tenetur magni fugiat, modi, vitae totam dignissimos nulla dicta delectus voluptatum ad est vero. Assumenda, itaque tempora! Eius porro natus, laborum, doloremque pariatur est ipsum perferendis commodi sint explicabo dignissimos.</li>
        </ul>
      </p>
      <a href='#' class='btn btn-primary'>See how smart we are</a>
    </div>
  </div>

  <div class='card p-2' style='width: 50%'>
    <img class='img-fluid' src='images/team.svg'>
    <div class='card-body'>
      <h5>Very Teamwork</h5>
      <p class='card-text'>
        <ul class="list-group">
          <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat possimus eius veniam ab ullam necessitatibus esse, ea, magni dicta numquam quae harum accusantium eum quia atque laboriosam provident et repudiandae!</li>
          <li class="list-group-item">Itaque ad excepturi, reprehenderit enim maiores optio quam quaerat quod eaque dolor, voluptatibus, modi iusto iste ratione reiciendis a dolorem officiis est. Ipsa et sit earum saepe adipisci, animi at?</li>
          <li class="list-group-item">Alias totam reiciendis quas nam laborum eos sequi, id laboriosam nulla at, odit animi voluptatum! Totam qui a error dolore autem, ad laboriosam sequi minus neque harum assumenda, ea ipsam!</li>
          <li class="list-group-item">Tenetur magni fugiat, modi, vitae totam dignissimos nulla dicta delectus voluptatum ad est vero. Assumenda, itaque tempora! Eius porro natus, laborum, doloremque pariatur est ipsum perferendis commodi sint explicabo dignissimos.</li>
        </ul>
      </p>
      <a href='#' class='btn btn-primary'>See how teamwork we are</a>
    </div>
  </div>
</div>
