<div class="list-group">
  <button onclick='window.location.href="http://localhost:4567/"' type="button" class="list-group-item list-group-item-action active" aria-current="true">
    List Group
  </button>
  <button onclick='window.location.href="http://localhost:4567/button"' type="button" class="list-group-item list-group-item-action">
    Buttons
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Alerts
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Dropdowns
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Navbar
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    Putting it together
  </button>
  <button type="button" class="list-group-item list-group-item-action" disabled>
    A disabled button item
  </button>
</div>
