
<%= partial "navbar_ugly" %>
<div class = 'd-flex'>
  <div>
    <h3><a href="#">Very Smart</a></h3>
    <div>
      <img class='img-fluid' src='images/bigbrain.svg' width="50%">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quibusdam tenetur consectetur facilis, quis ad distinctio blanditiis culpa doloremque odit earum corrupti consequuntur numquam maxime mollitia omnis asperiores repellat nisi?</li>
        <li>Temporibus blanditiis soluta esse expedita modi iure laudantium voluptatibus perspiciatis unde reiciendis voluptates voluptatum mollitia, iste ad? Odit, ducimus. Error, libero atque sit voluptates deleniti laudantium repellendus eum impedit corrupti.</li>
        <li>Nobis ab, optio mollitia natus harum tempore incidunt cum. Commodi provident fuga consectetur vero, aut unde minus voluptatum earum corporis illo ex. Suscipit tempore voluptatibus ea amet, atque est consectetur.</li>
        <li>Quia facere, rem repudiandae minima corporis ipsa esse cumque architecto obcaecati earum ipsam ea repellendus aspernatur, in ratione doloribus eligendi tempora eos repellat. Id nemo architecto repudiandae accusamus, sit totam.</li>
      </ul>
    </div>
  </div>
  <div>
    <h3><a href="#">Very Teamwork</a></h3>
    <div>
      <img class='img-fluid' src='images/bigteam.jpg' width="50%">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quibusdam tenetur consectetur facilis, quis ad distinctio blanditiis culpa doloremque odit earum corrupti consequuntur numquam maxime mollitia omnis asperiores repellat nisi?</li>
        <li>Temporibus blanditiis soluta esse expedita modi iure laudantium voluptatibus perspiciatis unde reiciendis voluptates voluptatum mollitia, iste ad? Odit, ducimus. Error, libero atque sit voluptates deleniti laudantium repellendus eum impedit corrupti.</li>
        <li>Nobis ab, optio mollitia natus harum tempore incidunt cum. Commodi provident fuga consectetur vero, aut unde minus voluptatum earum corporis illo ex. Suscipit tempore voluptatibus ea amet, atque est consectetur.</li>
        <li>Quia facere, rem repudiandae minima corporis ipsa esse cumque architecto obcaecati earum ipsam ea repellendus aspernatur, in ratione doloribus eligendi tempora eos repellat. Id nemo architecto repudiandae accusamus, sit totam.</li>
      </ul>
    </div>
  </div>
</div>
