<div class = 'd-flex'>
  <div>
    <h3>Very Smart</h3>
    <div>
      <img class='img-fluid' src='images/bigbrain.svg' width="50%">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eos nulla corporis porro doloribus, expedita eius totam deserunt nihil molestias dicta soluta, exercitationem dolorum nemo laborum repudiandae aperiam necessitatibus voluptatem.</li>
        <li>Eos, dolor blanditiis. Error natus esse voluptas. Reprehenderit culpa et quo delectus similique, obcaecati deserunt quos sed vitae deleniti sint inventore numquam reiciendis magni enim, aliquid debitis ea voluptate nobis?</li>
        <li>Nobis error laborum dolorum est vel ducimus tenetur nostrum delectus adipisci in! Dignissimos obcaecati corrupti necessitatibus aliquam modi vero aliquid voluptates ratione. Fugiat atque mollitia vitae, ut tempore pariatur animi?</li>
        <li>Dolorum cum dolor, accusantium, ut sequi quidem voluptates repudiandae molestiae minima at labore, impedit aperiam. Quae ipsa esse, quia veritatis sequi inventore perferendis autem, ipsam, illum dicta rem magni optio.</li>
      </ul>
    </div>
  </div>
  <div>
    <h3>Very Teamwork</h3>
    <div>
      <img class='img-fluid' src='images/bigteam.jpg' width="50%">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eos nulla corporis porro doloribus, expedita eius totam deserunt nihil molestias dicta soluta, exercitationem dolorum nemo laborum repudiandae aperiam necessitatibus voluptatem.</li>
        <li>Eos, dolor blanditiis. Error natus esse voluptas. Reprehenderit culpa et quo delectus similique, obcaecati deserunt quos sed vitae deleniti sint inventore numquam reiciendis magni enim, aliquid debitis ea voluptate nobis?</li>
        <li>Nobis error laborum dolorum est vel ducimus tenetur nostrum delectus adipisci in! Dignissimos obcaecati corrupti necessitatibus aliquam modi vero aliquid voluptates ratione. Fugiat atque mollitia vitae, ut tempore pariatur animi?</li>
        <li>Dolorum cum dolor, accusantium, ut sequi quidem voluptates repudiandae molestiae minima at labore, impedit aperiam. Quae ipsa esse, quia veritatis sequi inventore perferendis autem, ipsam, illum dicta rem magni optio.</li>
      </ul>
    </div>
  </div>
</div>
